/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Bebas Neue", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 15px;
  background: #ffffff; /* White background */
  background-image: url(bg3.jpg); /* Add your background image */
  background-size: cover; /* Ensure the image covers the entire body */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  overflow: hidden;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff; /* White background for wrapper */
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 120px;
  background: #000000; /* Black background for title */
  border-radius: 5px 5px 0 0;
  color: #ffffff; /* White text */
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 25px 35px;
}

.wrapper form .row {
  height: 60px;
  margin-top: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 70px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Light gray border */
  font-size: 18px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #000000; /* Black border on focus */
}

form .row input::placeholder {
  color: #999; /* Gray placeholder text */
}

.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #ffffff; /* White icon color */
  font-size: 22px;
  background: #000000; /* Black background for icon */
  border: 1px solid #000000; /* Black border */
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin-top: 12px;
}

.wrapper form .pass a {
  color: #000000; /* Black text */
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline; /* Underline on hover */
}

.wrapper form .button input {
  margin-top: 20px;
  color: #ffffff; /* White text */
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #000000; /* Black button background */
  border: 1px solid #000000; /* Black border */
  cursor: pointer;
}

form .button input:hover {
  background: #555555; /* Dark gray on hover */
}

.wrapper form .signup-link {
  text-align: center;
  margin-top: 45px;
  font-size: 17px;
}

.wrapper form .signup-link a {
  color: #000000; /* Black link */
  text-decoration: none;
}

form .signup-link a:hover {
  text-decoration: underline; /* Underline on hover */
}